a {
    text-decoration: none;
    color: rgb(255, 71, 200);
}

.menu-button {
    display: flex;
    width:100px;
    height: 40px;
    box-shadow: inset 0px 0px 5px 5px #e7b5fe;
    background: linear-gradient(to bottom, #79bbff 35%, #378de5 70%);
    background-color: #79bbff;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    padding: 7px 36px;
    margin-bottom: 5px;
    text-shadow: 0px 3px 0px #174471;
}

.menu-button:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.menu-button:active {
    position: relative;
    /* top: -2px; */
}