$border-color-container: solid 2px #2548e2;

body {
    background: url(картинки/фон5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: center;

    audio {
        margin-left: 50px;
    }
}

.title {
    display: flex;
    justify-content: center;

    H1 {
        overflow: hidden;
        text-shadow:
            0 0 rgb(255, 71, 200),
            0 0 rgb(50, 205, 166),
            0 0 rgb(118, 127, 230);
        color: transparent;
        transition: all 2s;
    }

    H1:hover {
        text-shadow:
            -400px 0 #e7b5fe,
            400px 0 rgb(188, 226, 99),
            0 0 #378de5;
    }
}

.logo {
    position: absolute;
    left: 50px;
    top: 20px;


    img {
        width: 100px;
    }
}

.content {
    display: flex;
    flex: 1;

    .menu {

        width: 200px;
        padding: 10px 5px 0px 5px;

        .menu-fly {
            position: fixed;

            .menu-button .li {
                display: none;
            }

            .menu-button:hover>.li {
                display: block;
                width: fit-content;
            }

            .menu-button {
                .ul {
                    position: relative;
                    left: 136px;
                    top: -33px;
                    background-color: aliceblue;
                }
            }

        }

    }

    .central-block {
        display: flex;
        flex: 1;

        .gallery-page {
            display: none;

            &:target {
                display: flex;
                flex-wrap: wrap;
                flex: 1;
            }

            .items-container {
                width: 400px;
                height: 200px;
                display: flex;
                flex-direction: column;
                border: $border-color-container;
                border-radius: 10px;
                margin: 10px;

                &.wide-x-2 {
                    width: 600px;

                    .image-and-descrintion {
                        .image {
                            border-right: none;
                        }
                    }

                }

                &.wide-x-3 {
                    width: 900px
                }

                &:target {
                    /*& - посмотри класс родителя(item-conteiner) :target - если сослались при помощи якоря то*/
                    background-color: pink;
                }

                .name {
                    display: flex;
                    justify-content: center;
                    border-bottom: $border-color-container;
                }

                .image-and-description {
                    display: flex;

                    height: 152px;


                    .image {
                        &.no-description {
                            border-right: none;

                        }
                    }

                    .image {
                        border-right: $border-color-container;
                        display: flex;
                        justify-content: center;
                        flex: 1;



                        img {
                            display: flex;

                            justify-content: center;
                            max-width: 200px;
                            max-height: 100%;


                        }

                        img:hover {
                            transform: scale(0.8);
                        }
                    }

                    .description {
                        display: flex;
                        flex: 1;
                        justify-content: center;
                        padding: 5px;
                        overflow: auto;
                        max-width: 200px;
                        max-height: 100%;
                        height: 144px;
                        ;
                    }

                }





                .additional-buttons {
                    display: flex;
                    justify-content: space-around;
                    border-top: $border-color-container;
                    flex: 1;

                    .action {
                        display: flex;
                        justify-content: center;
                        background-color: rgb(243, 220, 192);
                        flex: 1;
                    }

                    .action:first-child {
                        background-color: rgb(188, 226, 99);
                        border-bottom-left-radius: 10px;
                        border-right: $border-color-container;
                    }

                    .action:last-child {
                        background-color: rgb(232, 165, 244);
                        border-bottom-right-radius: 10px;
                        border-left: $border-color-container;
                    }

                    .action:hover {
                        background-color: #6239dd;
                    }
                }

                .text {
                    display: flex;
                    justify-content: center;
                    padding: 5px;
                    margin: 5px;
                    overflow: auto;
                    max-width: 100%;
                    max-height: 100%;

                }
            }


        }

        .hot-key-block {
            display: none;

            &:target {
                display: flex;
            }

            .hot-key {
                text-align: center;
                border: $border-color-container;
                border-radius: 4px;
                margin: 5px;
                padding: 2px;
                font-size: 20px;
            }


        }

        .container_form {
            display: flex;
            justify-content: center;
            margin: auto;
            // margin-top: 110px;
            // margin-left: 435px;
            background-color: rgb(246, 225, 250);
        }

        .newpage {
            display: none;
            margin: 0 AUTO;

            &:target {
                display: block;
            }
        }

        .container_form fieldset,
        h2 {
            text-align: center;
            font-size: 15px;
            padding: 10px;
        }

        H1 {
            overflow: hidden;
            text-shadow:
                0 0 rgb(92, 24, 71),
                0 0 rgb(50, 205, 166),
                0 0 rgb(118, 127, 230);
            color: transparent;
            transition: all 2s;
        }

        H1:hover {
            text-shadow:
                -400px 0 rgb(92, 24, 71),
                400px 0 rgb(188, 226, 99),
                0 0 #378de5;
        }

        input {
            border: 1px solid #2d2d2d;
            border-bottom: 2px solid #000;
        }

        input:focus {
            outline: 0;
            border-bottom: 2px solid rgb(230, 22, 178);
        }

        .youtube-videos {
            display: none;

            &:target {
                display: flex;
                flex-wrap: wrap;
                flex: 1;
            }

            .video {
                width: 300px;

                iframe {
                    width: 100%;
                    height: fit-content;
                }
            }

        }
    }


}