@charset "UTF-8";
body {
  background: url(картинки/фон5.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: center;
}
header audio {
  margin-left: 50px;
}

.title {
  display: flex;
  justify-content: center;
}
.title H1 {
  overflow: hidden;
  text-shadow: 0 0 rgb(255, 71, 200), 0 0 rgb(50, 205, 166), 0 0 rgb(118, 127, 230);
  color: transparent;
  transition: all 2s;
}
.title H1:hover {
  text-shadow: -400px 0 #e7b5fe, 400px 0 rgb(188, 226, 99), 0 0 #378de5;
}

.logo {
  position: absolute;
  left: 50px;
  top: 20px;
}
.logo img {
  width: 100px;
}

.content {
  display: flex;
  flex: 1;
}
.content .menu {
  width: 200px;
  padding: 10px 5px 0px 5px;
}
.content .menu .menu-fly {
  position: fixed;
}
.content .menu .menu-fly .menu-button .li {
  display: none;
}
.content .menu .menu-fly .menu-button:hover > .li {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.content .menu .menu-fly .menu-button .ul {
  position: relative;
  left: 136px;
  top: -33px;
  background-color: aliceblue;
}
.content .central-block {
  display: flex;
  flex: 1;
}
.content .central-block .gallery-page {
  display: none;
}
.content .central-block .gallery-page:target {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.content .central-block .gallery-page .items-container {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border: solid 2px #2548e2;
  border-radius: 10px;
  margin: 10px;
}
.content .central-block .gallery-page .items-container.wide-x-2 {
  width: 600px;
}
.content .central-block .gallery-page .items-container.wide-x-2 .image-and-descrintion .image {
  border-right: none;
}
.content .central-block .gallery-page .items-container.wide-x-3 {
  width: 900px;
}
.content .central-block .gallery-page .items-container:target {
  /*& - посмотри класс родителя(item-conteiner) :target - если сослались при помощи якоря то*/
  background-color: pink;
}
.content .central-block .gallery-page .items-container .name {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #2548e2;
}
.content .central-block .gallery-page .items-container .image-and-descrintion {
  display: flex;
  height: 152px;
}
.content .central-block .gallery-page .items-container .image-and-descrintion .image.no-description {
  border-right: none;
}
.content .central-block .gallery-page .items-container .image-and-descrintion .image {
  border-right: solid 2px #2548e2;
  display: flex;
  justify-content: center;
  flex: 1;
}
.content .central-block .gallery-page .items-container .image-and-descrintion .image img {
  display: flex;
  justify-content: center;
  max-width: 200px;
  max-height: 100%;
}
.content .central-block .gallery-page .items-container .image-and-descrintion .image img:hover {
  transform: scale(0.8);
}
.content .central-block .gallery-page .items-container .image-and-descrintion .description {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 5px;
  overflow: auto;
  max-width: 200px;
  max-height: 100%;
  height: 144px;
}
.content .central-block .gallery-page .items-container .additional-buttons {
  display: flex;
  justify-content: space-around;
  border-top: solid 2px #2548e2;
  flex: 1;
}
.content .central-block .gallery-page .items-container .additional-buttons .action {
  display: flex;
  justify-content: center;
  background-color: rgb(243, 220, 192);
  flex: 1;
}
.content .central-block .gallery-page .items-container .additional-buttons .action:first-child {
  background-color: rgb(188, 226, 99);
  border-bottom-left-radius: 10px;
  border-right: solid 2px #2548e2;
}
.content .central-block .gallery-page .items-container .additional-buttons .action:last-child {
  background-color: rgb(232, 165, 244);
  border-bottom-right-radius: 10px;
  border-left: solid 2px #2548e2;
}
.content .central-block .gallery-page .items-container .text {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}
.content .central-block .hot-key-block {
  display: none;
}
.content .central-block .hot-key-block:target {
  display: flex;
}
.content .central-block .hot-key-block .hot-key {
  text-align: center;
  border: solid 2px #2548e2;
  border-radius: 4px;
  margin: 5px;
  padding: 2px;
  font-size: 20px;
}
.content .central-block .container_form {
  display: flex;
  margin: auto;
  margin-top: 5px;
  margin-left: 135px;
  background-color: rgb(246, 225, 250);
}
.content .central-block .newpage {
  display: none;
}
.content .central-block .newpage:target {
  display: block;
}
.content .central-block .container_form fieldset,
.content .central-block h2 {
  text-align: center;
  font-size: 15px;
  padding: 10px;
}
.content .central-block H1 {
  overflow: hidden;
  text-shadow: 0 0 rgb(92, 24, 71), 0 0 rgb(50, 205, 166), 0 0 rgb(118, 127, 230);
  color: transparent;
  transition: all 2s;
}
.content .central-block H1:hover {
  text-shadow: -400px 0 rgb(92, 24, 71), 400px 0 rgb(188, 226, 99), 0 0 #378de5;
}
.content .central-block input {
  border: 1px solid #2d2d2d;
  border-bottom: 2px solid #000;
}
.content .central-block input:focus {
  outline: 0;
  border-bottom: 2px solid rgb(230, 22, 178);
}
.content .central-block .youtube-videos {
  display: none;
}
.content .central-block .youtube-videos:target {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.content .central-block .youtube-videos .video {
  width: 300px;
}
.content .central-block .youtube-videos .video iframe {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}/*# sourceMappingURL=NYStyles.css.map */